@using LisansUstuBasvuruSistemi.Models
@model SRTaleplerJuri
@{
    Layout = null; 
}

<div class="widget widget-default" style="border-top: 1px solid; border-top-color: lightgray; margin-bottom: 8px; padding: 6px 10px; min-height: 30px;">
    <table style="width:100%;">
        <tbody>
            <tr>
                <td width="160">Link Gönderilecek Jüri</td>
                <td width="10">:</td>
                <td>
                    @Model.UnvanAdi @Model.JuriAdi
                </td>
            </tr>
            <tr>
                <td width="160">E-Posta</td>
                <td>:</td>
                <td>
                    <input type="text" class="form-control" id="EMail_@Model.UniqueID" value="@Model.Email" />
                </td>
            </tr>
        </tbody>
    </table>
</div> 