@model System.Web.Mvc.HandleErrorInfo
@using LisansUstuBasvuruSistemi.Models
@using BiskaUtil;
@{
    Layout = "~/Views/Shared/_LayoutPupupFrame.cshtml";
    Exception err = Model!=null ? Model.Exception: null;
    if (err == null)
    {
        err = Server.GetLastError();
    }
    if (err == null)
    {
        err = new Exception(Request.Url.ToString());
    }
    using (var db = new LisansustuBasvuruSistemiEntities())
    {
        db.SistemBilgilendirmes.Add(new SistemBilgilendirme
        {
            BilgiTipi = BilgiTipi.Hata,
            Message = err.ToExceptionMessage(),
            IslemYapanID = (UserIdentity.Current.IsAuthenticated ? UserIdentity.Current.Id : (int?)null),
            IslemYapanIP = UserIdentity.Ip,
            IslemTarihi = DateTime.Now,
            StackTrace = Model.Exception.ToExceptionStackTrace()
        });
        db.SaveChanges();
    }

}

<div class="error-container">
    <div class="error-code">Hata! <div class="icon-preview"><i class="fa fa-frown-o"></i></div></div>
    <div class="error-text">İşlem Yapılırken Bir Hata Oluştu.</div>
    <div class="error-subtext">
        Hata: @err.Message
    </div>
    <div class="error-subtext">Bu hata sistem tarafından loglandı.</div>
    @*<div class="error-code">500</div>
        <div class="error-text">Internal server error</div>
        <div class="error-subtext">The server encountered an internal error or misconfiguration and was unable to complete your request.</div>*@
</div>
