@using LisansUstuBasvuruSistemi.Models @using LisansUstuBasvuruSistemi.Models.FilterModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string eKod = (string)ViewBag.EnstituKod;
}

<div class="row">
    <div class="col-md-12">

        <!-- START SIMPLE DATATABLE -->
        <div class="panel panel-info">
            <div class="panel-heading padding-0">
                <h3 class="panel-title">
                    <i class="fa fa-bar-chart-o"></i> Belge Talepleri Sayısal Raporu
                </h3>
                <ul class="panel-controls">
                    <li><a href="javascript:void(0)" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="panel panel-primary padding-0" style="margin: 0px; padding: 0px;">
                    <div class="panel-body" style="margin: 0px; padding: 0px;">
                        <table class="table" style="font-size:9pt;margin:0px;width:100%;table-layout:fixed;">
                            <tr>
                                <td style="text-align:right;" width="180">Başlangıç Tarihi</td>
                                <td width="10">:</td>
                                <td>
                                    @Html.DropDownList("BaslangicTarihi", null, new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;" width="180">Bitiş Tarihi</td>
                                <td width="10">:</td>
                                <td>
                                    @Html.DropDownList("BitisTarihi", null, new { @class = "form-control" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="text-align:center;padding-top:1px;padding-bottom:1px;">
                <a href="javascript:void(0);" onclick="bTSayisalRapor()" class="btn btn-success"><span class="fa fa-bar-chart-o"></span> Rapor Al</a>
            </div>
        </div>
    </div>

</div>

<script>
    function bTSayisalRapor() {
        var tar1 = $('#BaslangicTarihi').val();
        var tar2 = $('#BitisTarihi').val();
        if (tar1 == null || tar1 == "" || tar2 == null || tar2 == "") {
            alert("Tarih Aralığı Seçiniz");
            return;
        }
        var _Params = "&T1=" + tar1 + "&T2=" + tar2 + "&eKod=@eKod";
        yeniDialogBB(null, 'Belge Talepleri Sayısal Raporu', '@Url.Action("GetDxReport", "Ajax")?IsPdfStream=true&RaporTipi=@RaporTipleri.BelgeTalepSayisal' + _Params+'', 'auto', 'modal-dialog modal-lg');
      
    }
</script>