 
@using Entities.Entities
@using LisansUstuBasvuruSistemi.Business
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@using LisansUstuBasvuruSistemi.Utilities.SystemSetting
@{
    Layout = null;

    var root = GlobalSistemSetting.GetRoot().TrimEnd('/') + "/";
    var apath = Request.Url.AbsolutePath.Split('?')[0];
    var spl = apath.Split(new[] { '/' }, StringSplitOptions.RemoveEmptyEntries);
    string selectedEnstKisAd = spl.Length > 0 && EnstituBus.IsContainsEnstitu(spl[0]) ? spl[0].ToLower() : "fbe";
    var enst = selectedEnstKisAd + "/";
    root += enst;

    var eKod = EnstituBus.GetSelectedEnstitu(selectedEnstKisAd);
    var unShowMenuIds = new List<int>();
    var menudata = MenulerBus.Menulers
        .Where(p => p.YetkiliEnstitu == null || p.YetkiliEnstitu.Contains(eKod))
        .ToList();

    var mMenu = UserBus.GetUserMenus().ToList();

    IEnumerable<Menuler> eklenecekler;
    do
    {
        var pids = mMenu.Where(p => p.BagliMenuID.HasValue && p.BagliMenuID.Value > 0)
                        .Select(s => s.BagliMenuID.Value);
        var ids = mMenu.Select(s => s.MenuID);
        var ekiskIds = pids.Except(ids);
        eklenecekler = menudata.Where(p => ekiskIds.Contains(p.MenuID)).ToArray();
        mMenu.AddRange(eklenecekler);
    } while (eklenecekler.Any());

    mMenu.AddRange(menudata.Where(p => p.YetkisizErisim == true && mMenu.All(a => a.MenuID != p.MenuID)));
    mMenu = mMenu.Where(p => !unShowMenuIds.Contains(p.MenuID) || unShowMenuIds.Contains(p.BagliMenuID ?? 0))
                 .OrderBy(o => o.SiraNo)
                 .ToList();

    var sb = new System.Text.StringBuilder();
    Func<int?, bool> fxMenu = null;

    fxMenu = (parentId) =>
    {
        var filteredMenus = parentId.HasValue ? mMenu.Where(p => p.BagliMenuID == parentId) : mMenu.Where(p => p.BagliMenuID == 0);
        foreach (var menu in filteredMenus)
        {
            var menuAdi = menu.MenuAdi;
            var menuAd = parentId.HasValue ? menuAdi : $"<span class='xn-text'>{menuAdi}</span>";
            var autC = menu.AuthenticationControl;
            var navAutC = !menu.AuthenticationControl.IsNullOrWhiteSpace();
            var hrefUrl = navAutC || menu.MenuUrl.IsNullOrWhiteSpace() ? "javascript:void(0);" : (root + menu.MenuUrl.ToLower().Replace("ı", "i"));

            var hassubmenu = mMenu.Any(a => a.BagliMenuID == menu.MenuID);
            sb.AppendLine($"<li {(hassubmenu ? "class='xn-openable'" : "")}>" +
                          $"<a href='{hrefUrl}' {(navAutC ? $"onclick='{autC}'" : "")} menuurl='{hrefUrl}'>" +
                          $"<span class='{menu.MenuCssClass}'></span>" +
                          $"{menuAd}" +
                          $"</a>");
            if (hassubmenu)
            {
                sb.AppendLine("<ul>");
                fxMenu(menu.MenuID);
                sb.AppendLine("</ul>");
            }
            sb.AppendLine("</li>");
        }
        return true;
    };

    fxMenu(null);
}
@Html.Raw(sb.ToString())
