@model System.Web.Mvc.HandleErrorInfo
@using LisansUstuBasvuruSistemi.Models 
@using LisansUstuBasvuruSistemi.Utilities.Enums
@using BiskaUtil;
@using LisansUstuBasvuruSistemi.Utilities.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var err = (Model.Exception ?? Server.GetLastError()) ?? new Exception(Request.Url.ToString());
    using (var db = new LisansustuBasvuruSistemiEntities())
    {
        bool saveError = true;
        var exceltionMessage = err.ToExceptionMessage();
        if (exceltionMessage.Contains("1- The controller for path"))
        { 
              var splitMesssages = exceltionMessage.Split('\'');
            if (splitMesssages.Count() >= 3)
            {
                var path = splitMesssages[1];
                if (path.Contains("/tr"))
                {
                    path = path.Replace("/tr", "");
                    saveError = false;
                    <script>
                        window.location.href = '@path';
                    </script>
                }
            }
        }
        if (saveError)
        {
            db.SistemBilgilendirmes.Add(new SistemBilgilendirme
            {
                BilgiTipi = LogTipiEnum.Hata,
                Message = exceltionMessage,
                IslemYapanID = (UserIdentity.Current.IsAuthenticated ? UserIdentity.Current.Id : (int?)null),
                IslemYapanIP = UserIdentity.Ip,
                IslemTarihi = DateTime.Now,
                StackTrace = Model.Exception.ToExceptionStackTrace()
            });
            db.SaveChanges();
        }
    }



}

<div class="error-container">
    <div class="error-code" style="font-size:67pt;">Hata! <div class="icon-preview"><i class="fa fa-frown-o"></i></div></div>
    <div class="error-text">İşlem Yapılırken Bir Hata Oluştu.</div>
    <div class="error-subtext">
        Hata: @err.Message
    </div>
    <div class="error-subtext">Bu hata sistem tarafından loglandı.</div>
    @*<div class="error-code">500</div>
        <div class="error-text">Internal server error</div>
        <div class="error-subtext">The server encountered an internal error or misconfiguration and was unable to complete your request.</div>*@
</div>
