<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="LubsDbEntities" connectionString="metadata=res://*/Entities.LubsDb.csdl|res://*/Entities.LubsDb.ssdl|res://*/Entities.LubsDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LisansustuBasvuruSistemi;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="LubsDbEntities" connectionString="metadata=res://*/Entities.LubsDB.csdl|res://*/Entities.LubsDB.ssdl|res://*/Entities.LubsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=193.255.112.210;initial catalog=LisansustuBasvuruSistemi;Connection Timeout=240;user id=RemoteOdnUser;password=Scr5334_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>