@using LisansUstuBasvuruSistemi.Utilities.Enums
@model LisansUstuBasvuruSistemi.Utilities.Dtos.FrTdoBasvuruDto
@{
    Layout = null;

}


<table>
    <tr>
        <td width="80">Danışman:</td>
        <td>
            @if (!Model.AktifTDOBasvuruDanismanID.HasValue)
            {
                <span> Danışman Formu Oluşturulmadı </span>
            }

            else if ((Model.TDOBasvuruDanisman.TDODanismanTalepTipID == TdoDanismanTalepTipEnum.TezDanismaniDegisikligi || Model.TDOBasvuruDanisman.TDODanismanTalepTipID == TdoDanismanTalepTipEnum.TezDanismaniVeBaslikDegisikligi) && !Model.VarolanDanismanOnayladi.HasValue)
            {
                <span aria-hidden="true"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> Varolan Danışman Onayı Bekleniyor</span>
            }
            else if ((Model.TDOBasvuruDanisman.TDODanismanTalepTipID == TdoDanismanTalepTipEnum.TezDanismaniDegisikligi || Model.TDOBasvuruDanisman.TDODanismanTalepTipID == TdoDanismanTalepTipEnum.TezDanismaniVeBaslikDegisikligi) && Model.VarolanDanismanOnayladi == true && !Model.DanismanOnayladi.HasValue)
            {
                <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> Varolan Danışman Tarafından Onayladı</span>
            }
            else if ((Model.TDOBasvuruDanisman.TDODanismanTalepTipID == TdoDanismanTalepTipEnum.TezDanismaniDegisikligi || Model.TDOBasvuruDanisman.TDODanismanTalepTipID == TdoDanismanTalepTipEnum.TezDanismaniVeBaslikDegisikligi) && Model.VarolanDanismanOnayladi == false)
            {
                <span aria-hidden="true"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i>Varolan Danışman Tarafından Onaylamanmadı</span>
            }
            else if (!Model.DanismanOnayladi.HasValue)
            {
                <span aria-hidden="true"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> @(Model.TDOBasvuruDanisman.TDODanismanTalepTipID == TdoDanismanTalepTipEnum.TezDanismaniDegisikligi || Model.TDOBasvuruDanisman.TDODanismanTalepTipID == TdoDanismanTalepTipEnum.TezDanismaniVeBaslikDegisikligi ? "Yeni " : "")Danışman Onayı Bekleniyor</span>
            }
            else if (Model.DanismanOnayladi == true && !Model.EYKYaGonderildi.HasValue)
            {
                <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> Danışman Tarafından Onayladı</span>
            }
            else if (Model.DanismanOnayladi == false)
            {
                <span aria-hidden="true"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> Danışman Tarafından Onaylamanmadı</span>
            }
            else if (Model.EYKYaGonderildi == true && !Model.EYKYaHazirlandi.HasValue)
            {
                <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylandı</span>
            }
            else if (Model.EYKYaGonderildi == false)
            {
                <span style="color:maroon;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylanmadı</span>
            }
            else if (Model.EYKYaHazirlandi == true && !Model.EYKDaOnaylandi.HasValue)
            {
                <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Hazırlandı</span>
            } 
            else if (Model.EYKDaOnaylandi == true)
            {
                <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylandı</span>
            }
            else if (Model.EYKDaOnaylandi == false)
            {
                <span style="color:maroon;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylanmadı</span>
            }
        </td>
    </tr>
    <tr>
        <td>Eş Danışman:</td>
        <td>
            @if (!Model.EsDanismanOnerisiVar)
            {
                <span>Eş Danışman Formu Oluşturulmadı </span>
            }
            else if (!Model.Es_EYKYaGonderildi.HasValue)
            {
                <span aria-hidden="true"><i class="fa fa-clock-o" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Bekleniyor</span>
            }
            else if (Model.Es_EYKYaGonderildi == true && !Model.Es_EYKDaOnaylandi.HasValue)
            {
                <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylandı</span>
            }
            else if (Model.Es_EYKYaGonderildi == false)
            {
                <span style="color:maroon;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'ya Gönderimi Onaylanmadı</span>
            }
            else if (Model.Es_EYKDaOnaylandi == true )
            {
                <span style="color:green;" aria-hidden="true"><i class="fa fa-thumbs-o-up" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylandı</span>
            }
            else if (Model.Es_EYKDaOnaylandi == false)
            {
                <span style="color:maroon;" aria-hidden="true"><i class="fa fa-thumbs-o-down" style="font-size:12pt;" aria-hidden="true"></i> EYK'da Onaylanmadı</span>
            }

        </td>
    </tr>
</table>